@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Clash Display";
  src: local("ClashDisplay"), url("./fonts/ClashDisplay.ttf") format("truetype");
}

* {
  font-family: "Clash Display";
}
